.DS_Store
logs.txt
paiperwork.code-workspace
.vscode
.config.env
**/config.env
**/logs/
**/*_test.go
**/*.md
dist/
**/dist/
github-help/Paiperwork videos/
dev/Paiperwork-server-dev-linux
dev/Paiperwork-server-dev-osx
dev/Paiperwork-server-dev-osx-intel
dev/Paiperwork-server-dev-win.exe
dev/server/server
Infinitaistudions.html
